body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(2, 1, 22);
  background: linear-gradient(0deg, rgba(2, 1, 22, 1) 0%, rgba(63, 112, 152, 1) 12%, rgba(255, 255, 255, 1) 100%);
}

.dublincore {
  padding: 16px;
}

.content {
  padding: 4px 64px;
  text-align: justify;
  margin-bottom: 128px;
}

.text-white {
  color: #fff;
}

p,
.list {
  padding: 4px 16px;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 8px;
}
